@page
@model BestShop.Pages.Auth.RegisterModel
@{
}
<div class="row">
    <div class="col-lq-8 mx-auto">
        <div claas="card">
            <div class="card-body">
                <h2 class="text-center nb-5">Create new Account</h2>
                @if(Model.errorMessage.Length>0){
                    <div class="alert-warning alert-dismissible fade show" role="alert">
                      <strong>@Model.errorMessage</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                }
                else if(Model.successMessage.Length>0)
                {
                    <div class="alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                }
                <form method="post">
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Email</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Phone</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Address</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 clo-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-primary" href="" role="button">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>